.header{
  width: 400px;
  height: 100px;
  border: 1px solid cornflowerblue;
  padding: 10px 0 0 0;
  color: cornflowerblue;
  border-radius: 20px;
  font-family: "fangsong", sans-serif ;
  font-size: 20px;
}
.tittle{
  font-family: "fangsong", sans-serif ;
  color: cornflowerblue;
  font-size: 30px;
  padding: 5px;
}
.conversion{
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top: 30px;
  border: 1px solid cornflowerblue;
  width: 400px;
  height: 200px;
  border-radius: 10px;
}
.conversion_body{
  display: grid;
  align-items: center;
}
input{
  margin: 10px;
  width: 250px;
  height: 30px;
  border: 1px solid cornflowerblue;
  color: cornflowerblue;
  border-radius: 20px;
  text-align: center;
}
select{
  width: 60px;
  height: 30px;
  border: 1px solid cornflowerblue;
  color: cornflowerblue;
  border-radius: 20px;
  text-align: center;
}

.info{
  font-size: 14px;
  font-family: "fangsong", sans-serif ;
  height: 30px;
  color: #ea7474;
}
